* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: auto;
}

#page {
    width: 1120px;
    margin: 88px auto 137px;
}

#initial-info {
    padding: 40px 0;
}

#headline {
    color: #E1624F;
}

h1 {
    color: #1B1B1B;
    font-size: 36px;
}

#busan {
    margin: 40px auto 0px;
}

#sub {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-top: 24px;
    width: 1120px;
    color: #333333;
}

.divider { /* Adiciona a linha que faz a divisão */
  width: 100%;
  height: 1px;
  margin: 36px 0 0;
  background-color: #d9d9d9;
}

.divider2 { /* Adiciona a linha que faz a divisão */
  width: 100%;
  height: 1px;
  margin: 40px 0 40px;
  background-color: #d9d9d9;
}

#title-list {
    padding: 64px 0;
}

h2 {
    color: #1B1B1B;
    font-size: 32px;
}

#sub2 {
    color: #333333;
    font-weight: normal;
    margin-top: 24px;
    width: 1120px;
}

#list {
    padding: 0px 0;
    width: 1120px;
    margin: 0 auto;
    box-sizing: border-box;
}

#list img {
    margin-bottom: 20px;
}

#list h3 {
    margin-left: 8px;
    color: #1B1B1B;
    font-size: 28px;
}

#list p {
    color: #333333;
    font-weight: normal;
    margin-top: 24px;
    margin-left: 0px;
    width: 1120px;
}

ul{
    padding-left: 18px;
}

ul li::marker {
  color: #333333;
}

ul #blue  {
    color: #0C51A7;
}

ul #pink {
    color: #E5245E
}

ul #orange {
    color: #E95E10
}

ul #purple {
    color: #591B98
}

#beomeo {
    padding: 48px 0;
}

#final {
    font-weight: normal;
    text-align: center;
    margin-top: 24px;
    width: 1120px;
    color: #333333;
}

footer {
    text-align: center;
    margin-bottom: 100px;
    font-weight: normal;
    color: #333333;
}